{% extends 'VictoireCoreBundle:Widget:new.html.twig' %}

{% block form_static %}
    <div id="picker-{{ form.mode.vars.data }}" class="vic-tab-pane {% if form.mode.vars.data == widget.mode %}vic-active{% endif %}">
        {{ form_start(form) }}
            <div class="row">
                <div class="col-md-4">
                    {{ form_row(form.themeCard) }}
                    {{ form_row(form.image) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.title) }}
                    {{ form_row(form.shortDescription) }}
                    {{ form_row(form.buttonText) }}
                    {{ form_row(form.buttonIcon) }}
                    {{ form_row(form.buttonLink) }}
                </div>
                <div class="col-md-4">
                    {{ (form.legend is defined) ? form_row(form.legend) : "" }}
                    {{ (form.date is defined) ? form_row(form.date) : "" }}
                    {{ (form.cardType is defined) ? form_row(form.cardType) : "" }}
                    {{ (form.popover is defined) ? form_row(form.popover) : "" }}
                    {{ (form.price is defined) ? form_row(form.price) : "" }}
                </div>
            </div>
            {{form_rest(form)}}
        {{ form_end(form) }}
    </div>
{% endblock form_static %}