{% extends "VictoireWidgetCardBundle:extends:base.html.twig" %}

{% block cover %}
    {% if image is defined and image %}
        <div class="cover" style="background-image: url({{ image }});">
            {% if (legend is defined and legend) or (date is defined and date) %}
            <div class="coverCaption">
                {{ (legend is defined and legend) ? legend : "" }}
                <span class="pull-right">
                    {{ (date is defined and date) ? date|date : "" }}
                </span>
            </div>
            {% endif %}
        </div>
    {% endif %}
{% endblock cover %}

{% block title %}
    {% if title is defined and title %}
        {{ title }}
    {% endif %}
{% endblock %}

{% block shortDescription %}
    {% if shortDescription is defined and shortDescription %}
        <p>{{ shortDescription }}</p>
    {% endif %}
{% endblock %}

{% block button %}
    {% if buttonText is defined and buttonText %}
        {% set targetTag = link.target == "ajax-modal" ? 'data-toggle=' ~ link.target : 'target=' ~ link.target|default('_parent') %}
        <a href="{{ link.url }}" {{ targetTag }} class="btn {% if style is defined and style %}btn-{{ style }}{% endif %}" role="button">
            {{ (buttonIcon is defined and buttonIcon) ? "<i class='fa #{buttonIcon}'></i>"|raw : "" }} {{ buttonText }}
        </a>
    {% endif %}
{% endblock %}
