{% extends "VictoireWidgetCardBundle:extends:base.html.twig" %}

{% block cover %}
    {% if image is defined and image %}
    {% set popoverId = "widgetCardpopover-" ~ widget.id %}
        <div class="cover" style="background-image: url({{ image }});">
            {% if popover is defined and popover %}
            <button id="{% if popoverId is defined and popoverId %}{{ popoverId }}{% endif %}" type="button" class="btn btn-link -square popoverTrigger" data-container="body" data-toggle="popover" data-placement="right" data-content="{{ popover }}">
                <i class="fa fa-info-circle"></i>
            </button>
            {% endif %}
        </div>

        <script type="text/javascript">
            $(document).ready(function() {
                $('#{% if popoverId is defined and popoverId %}{{ popoverId }}{% endif %}').popover();
            });
        </script>
    {% endif %}
{% endblock cover %}

{% block title %}
    {% if title is defined and title %}
        <strong>{{ title }}</strong>
    {% endif %}
{% endblock %}

{% block shortDescription %}
    {% if shortDescription is defined and shortDescription %}
        <h4>{{ shortDescription }}</h4>
    {% endif %}
{% endblock %}

{% block price %}
    {% if price is defined and price %}
        <h5 class="h5 price"><strong>{{ price|localizedcurrency('EUR') }}</strong></h5>
    {% endif %}
{% endblock %}

{% block button %}
    {% if buttonText is defined and buttonText %}
        {% set targetTag = link.target == "ajax-modal" ? 'data-toggle=' ~ link.target : 'target=' ~ link.target|default('_parent') %}
        <a href="{{ link.url }}" {{ targetTag }} class="btn {% if style is defined and style %}btn-{{ style }}{% endif %}" role="button">
            {{ (buttonIcon is defined and buttonIcon) ? "<i class='fa #{buttonIcon}'></i>"|raw : "" }} {{ buttonText }}
        </a>
    {% endif %}
{% endblock %}
